@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --primary-color-cyan: hsl(179, 62%, 43%);
  --primary-color-cyan2: hsla(179, 62%, 43%, 0.6);
  --primary-color-brightYellow: hsl(71, 73%, 54%);
  --neutral-color-lightGray: hsl(204, 43%, 93%);
  --neutral-color-grayishBlue: hsl(218, 22%, 67%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--neutral-color-lightGray);
  color: var(--neutral-color-grayishBlue);
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: white;
  max-width: 665px;
  margin: 0 20px;
  border-radius: 6px;
  overflow: hidden;
}

.container header h1 {
  color: var(--primary-color-cyan);
  font-size: 30px;
  margin-bottom: 12px;
}

.container header p:first-of-type {
  color: var(--primary-color-brightYellow);
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 700;
}

.container section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--neutral-color-lightGray);
}

.container section .price,
.container header,
.container section .about-us {
  padding: 40px;
}

.container section .price {
  background-color: var(--primary-color-cyan);
}

.container section h2 {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 8px;
}

.container .price .price-list {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(220, 220, 220);
}

.container .price .price-list p:first-of-type {
  font-size: 35px;
  color: var(--neutral-color-lightGray);
}

.container .price button {
  width: 100%;
  padding: 12px 0;
  margin-top: 35px;
  border: none;
  background-color: var(--primary-color-brightYellow);
  color: var(--neutral-color-lightGray);
  font-weight: 700;
  font-size: 16px;
  border-radius: 6px;
}

.container section .about-us {
  padding: 40px 82px 40px 40px;
  background-color: var(--primary-color-cyan2);
}

.container section .about-us p {
  color: rgb(230, 230, 230);
}

@media only screen and (max-width: 600px) and (min-width: 426px) {
  .container {
    margin: 60px 20px;
  }

  .container section {
    grid-template-columns: 1fr;
  }

  .container section .about-us {
    padding-right: 180px;
  }
}

@media only screen and (max-width: 425px) {
  .container {
    margin: 70px 25px;
  }

  .container header h1 {
    font-size: 25px;
  }

  .container section {
    grid-template-columns: 1fr;
  }

  .container section .price,
  .container header,
  .container section .about-us {
    padding: 30px;
  }

  .container section .about-us {
    padding-right: 140px;
  }
}
